In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/1/1.1_parse_sites_metadata/metadata.csv')

In [4]:
df

,pdb_code,site_name,site_idx,n_entities,n_atoms,n_bonds,metal,n_metals,n_waters,n_organic_ligands,n_metal_ligands,n_amino_acids,n_coordinating_amino_acids,n_nucleotides,non_residue_non_metal_names,n_non_residue_non_metal,coordination_distance
0,6fpw,6fpw_0,0,19,158,150,Fe,4,0,0,1,18,4,0,NaN,0,2.9
1,6fpw,6fpw_1,1,22,138,124,Fe,3,3,0,1,18,3,0,NaN,0,2.9
2,6fpw,6fpw_2,2,29,203,184,Fe,4,2,0,1,26,6,0,NaN,0,2.9
3,6fpw,6fpw_3,3,20,141,123,"Fe,Ni",2,0,0,1,19,4,0,NaN,0,2.9
4,6fpw,6fpw_4,4,19,101,83,Mg,1,6,0,1,12,3,0,NaN,0,2.9
5,6fpw,6fpw_5,5,19,158,150,Fe,4,0,0,1,18,4,0,NaN,0,2.9
6,6fpw,6fpw_6,6,23,146,131,Fe,3,3,0,1,19,3,0,NaN,0,2.9
7,6fpw,6fpw_7,7,29,203,184,Fe,4,2,0,1,26,6,0,NaN,0,2.9
8,6fpw,6fpw_8,8,20,141,123,"Fe,Ni",2,0,0,1,19,4,0,NaN,0,2.9
9,6fpw,6fpw_9,9,19,101,83,Mg,1,6,0,1,12,3,0,NaN,0,2.9
10,4o6j,4o6j_0,0,17,125,111,Fe,2,0,0,2,15,6,0,NaN,0,2.9
11,6dqn,6dqn_0,0,11,81,73,Zn,1,0,0,1,10,4,0,NaN,0,2.9
12,6dqn,6dqn_1,1,11,81,73,Zn,1,0,0,1,10,4,0,NaN,0,2.9
13,6dqn,6dqn_2,2,11,81,73,Zn,1,0,0,1,10,4,0,NaN,0,2.9
14,6dqn,6dqn_3,3,11,81,73,Zn,1,0,0,1,10,4,0,NaN,0,2.9
15,1foi,1foi_0,0,13,85,72,Zn,1,0,0,1,12,4,0,NaN,0,2.9
16,5uuy,5uuy_0,0,13,93,83,Mn,1,0,0,2,11,4,0,NaN,0,2.9
17,5uuy,5uuy_1,1,15,128,119,Ca,1,0,1,2,12,4,0,XMM,1,2.9
18,3gzx,3gzx_0,0,11,94,90,Fe,1,0,1,1,9,3,0,BNL,1,2.9
19,3gzx,3gzx_1,1,14,119,112,Fe,2,0,0,1,13,4,0,NaN,0,2.9
20,4h9d,4h9d_0,0,15,114,103,Zn,1,0,0,1,14,4,0,NaN,0,2.9
21,4h9d,4h9d_1,1,14,105,95,Zn,1,0,0,1,13,4,0,NaN,0,2.9
22,4h9d,4h9d_2,2,14,105,95,Zn,1,0,0,1,13,4,0,NaN,0,2.9
23,2c2j,2c2j_0,0,11,71,60,Mg,1,0,0,1,10,3,0,NaN,0,2.9
24,4ls3,4ls3_0,0,13,90,83,Ni,1,3,0,1,9,3,0,NaN,0,2.9
25,4ls3,4ls3_1,1,13,83,76,Ni,1,4,0,1,8,3,0,NaN,0,2.9
26,6bpv,6bpv_0,0,13,106,99,Fe,1,0,1,1,11,4,0,F2Y,1,2.9
27,6hu2,6hu2_0,0,15,121,113,Zn,1,0,1,1,13,3,0,T34,1,2.9
28,6hu2,6hu2_1,1,13,99,90,K,1,0,0,1,12,4,0,NaN,0,2.9
29,6hu2,6hu2_2,2,14,107,98,K,1,0,0,1,13,4,0,NaN,0,2.9
30,6hu2,6hu2_3,3,15,121,113,Zn,1,0,1,1,13,3,0,T34,1,2.9
31,6hu2,6hu2_4,4,13,99,90,K,1,0,0,1,12,4,0,NaN,0,2.9
32,6hu2,6hu2_5,5,14,107,98,K,1,0,0,1,13,3,0,NaN,0,2.9
33,6hu2,6hu2_6,6,14,117,110,Zn,1,0,1,1,12,3,0,T34,1,2.9
34,6hu2,6hu2_7,7,13,99,90,K,1,0,0,1,12,5,0,NaN,0,2.9
35,6hu2,6hu2_8,8,14,107,98,K,1,0,0,1,13,4,0,NaN,0,2.9
36,6hu2,6hu2_9,9,15,121,113,Zn,1,0,1,1,13,3,0,T34,1,2.9
37,6hu2,6hu2_10,10,13,99,90,K,1,0,0,1,12,5,0,NaN,0,2.9
38,6hu2,6hu2_11,11,14,107,98,K,1,0,0,1,13,3,0,NaN,0,2.9
39,6tgt,6tgt_0,0,11,71,60,Ca,1,0,0,1,10,3,0,NaN,0,2.9
40,6h7y,6h7y_0,0,15,141,133,Zn,2,0,1,2,12,5,0,FVZ,1,2.9
41,6h7y,6h7y_1,1,13,85,75,Ca,1,0,0,1,12,4,0,NaN,0,2.9
42,4my4,4my4_0,0,14,82,71,Mn,1,3,0,2,9,3,0,NaN,0,2.9
43,4my4,4my4_1,1,15,101,89,Mn,1,1,0,2,12,4,0,NaN,0,2.9

In [12]:
one_site = df.groupby('pdb_code').count()['site_name'] == 1

In [14]:
good_pdbs = list(one_site.index[one_site])

In [15]:
df = df[df['pdb_code'].isin(good_pdbs)]

In [18]:
df = df[df['n_metals'] == 1]

In [21]:
df[df['metal'].isin(['Co', 'Ni'])]

,pdb_code,site_name,site_idx,n_entities,n_atoms,n_bonds,metal,n_metals,n_waters,n_organic_ligands,n_metal_ligands,n_amino_acids,n_coordinating_amino_acids,n_nucleotides,non_residue_non_metal_names,n_non_residue_non_metal,coordination_distance
45,1rrk,1rrk_0,0,13,91,79,Co,1,0,1,0,12,3,0,CO,1,2.9
239,4fca,4fca_0,0,7,50,45,Ni,1,0,1,0,6,3,0,NI,1,2.9
1185,3sw8,3sw8_0,0,13,96,87,Ni,1,1,2,0,10,3,0,"5LI,NI",2,2.9
1553,7b9b,7b9b_0,0,8,65,62,Ni,1,0,1,0,7,4,0,NI,1,2.9
1744,2ga0,2ga0_0,0,6,44,39,Ni,1,0,1,0,5,3,0,NI,1,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122694,6h1x,6h1x_0,0,5,37,35,Co,1,0,1,0,4,3,0,CO,1,2.9
123368,2v24,2v24_0,0,7,60,58,Ni,1,0,1,0,6,3,0,NI,1,2.9
123405,5q60,5q60_0,0,10,73,68,Ni,1,1,2,0,7,4,0,"MLI,NI",2,2.9
123646,2ew5,2ew5_0,0,16,109,98,Co,1,4,2,0,10,3,0,"CO,Y12",2,2.9
123873,5q6z,5q6z_0,0,9,72,68,Ni,1,0,2,0,7,4,0,"MLI,NI",2,2.9

In [25]:
df

,pdb_code,site_name,site_idx,n_entities,n_atoms,n_bonds,metal,n_metals,n_waters,n_organic_ligands,n_metal_ligands,n_amino_acids,n_coordinating_amino_acids,n_nucleotides,non_residue_non_metal_names,n_non_residue_non_metal,coordination_distance
15,1foi,1foi_0,0,13,85,72,Zn,1,0,1,0,12,4,0,ZN,1,2.9
23,2c2j,2c2j_0,0,11,71,60,Mg,1,0,1,0,10,3,0,MG,1,2.9
26,6bpv,6bpv_0,0,13,106,99,Fe,1,0,2,0,11,4,0,"F2Y,FE2",2,2.9
39,6tgt,6tgt_0,0,11,71,60,Ca,1,0,1,0,10,3,0,CA,1,2.9
45,1rrk,1rrk_0,0,13,91,79,Co,1,0,1,0,12,3,0,CO,1,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123930,2ghc,2ghc_0,0,15,99,87,Na,1,2,1,0,12,3,0,NaN,1,2.9
123949,4b0a,4b0a_0,0,9,69,62,Ca,1,0,1,0,8,3,0,CA,1,2.9
123955,4rvf,4rvf_0,0,13,92,81,Zn,1,0,1,0,12,4,0,ZN,1,2.9
123958,1tqs,1tqs_0,0,14,116,108,Zn,1,2,2,0,10,4,0,"SSO,ZN",2,2.9
123996,6hft,6hft_0,0,14,107,95,Mg,1,0,1,0,13,3,0,MG,1,2.9